@import "../../Form/resources/sass/style";


a.disabled {
    pointer-events: none;
    cursor: default;
}

.card {
    border-radius: 0px !important;
}

.text-success {
    fill: #28a745 !important;
}

.text-light {
    fill: #f8f9fa !important;
}

.text-primary {
    fill: #007bff !important;
}

.text-danger {
    fill: #dc3545 !important;
}
img {
    max-width: 100%;
    height: auto;
}

@import "backend/resources/sass/backend.scss";
