@import "../../../Form/resources/assets/sass/style";
@import "../../../Category/resources/assets/sass/tree";


a.disabled {
   pointer-events: none;
   cursor: default;
}


.card {
	border-radius: 0px !important;
}
.container-fluid {
	min-height: 100%;
	height: 100%;
}
#backend-body {
	.content-block {
		margin-left: 200px;
	}
}
