.menu-tree{
	.list-group {
		width: 100%;
	}
	.list-group-item {
		padding: 0px;
	}
	.list-group-item-action {
		display: block;
		padding: 12px 14px;
	}

	.list-group-item-next{
		border-radius: 0px;
		border-left: 0px;
		border-right: 0px;		
	}
	.list-group-item-next:last-child{
		border-bottom: 0px;
	}
	.item-action {

	}

	[data-expand]{
		font-size: 14px;
		cursor: pointer;		
	}
	[data-expand=true]:before { 
		content:"\f05b"; 
		font-size: 14px;
	}

	[data-expand=false]:before { 
		content:"\f05a"; 
	}

	.button-grabber:before { 
		content:"\f103"; 
		font-family: Octicons;
	    position: relative;
	    top: -1px;
	    left: 0px;
	}
	.button-grabber {
		border: 0px;
	    width: 33px;
	    height: 33px;
	    background-color: transparent;
	    margin-right: 5px;
	}
	.dropdown {
		display: none;
		position: absolute;
		right: 0px;
		top: 8px;
	}
	.tree-item:hover .dropdown,.tree-item-title:hover .dropdown {
		display: block;
	}
	.tree-item:hover .button-grabber {
		color: black !important;
	}
	.tree-item-title .button-grabber {
		color: white !important;
	}
	.tree-item .button-grabber:active {
		color: white !important;
	}
	.add-root{
	    color: #5cb85c;
	    font-size: 22px;
	    font-weight: 600;
	    position: relative;
	    top: 3px;
	}
	.trashcan{
		color: black;
		font-weight: 400;
	}

	.active {
	    background-color: #f7f7f9;
	}
	.title {
		background-color: #0275d8;
		color: white;
	}

}