.form-edit {
	.card-header {
		font-weight: 600;
	}
	#yaMapsId {
		height: 500px;
		margin-bottom: 20px;
	}

	.image-text-right {
		float: left;
	}
	.image-text-left {
		float: right;
	}
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 5px 15px;
	list-style: none;
	background-color: #ffffff;
	border: solid 1px #ccc;
}
.ui-helper-hidden-accessible{
	display: none;
}



.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
.btn-secondary:hover {
	  background-color: #e6e5e5;
	  border-color: #adadad;
}

