.list {
	.button-grabber:before { 
		content:"\f103"; 
		font-family: Octicons;
	    position: relative;
	    top: -3px;
	    left: -4px;
	}
	.button-grabber{
		width: 30px;
		height: 30px;
	}
	tr td:last-child, tr th:last-child{
		width: 30px;
	}
	.file-directory {
	    font-size: 22px;
	    margin-right: 10px;
	    vertical-align: middle;
	}
	tr{
		.dropdown{
			display: none;
		}
		&:hover{
			.dropdown {
				display: block;
			}
		}
	}
	.menu-td {
		min-width: 60px;
	}
}